
.donation_container{
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
}
.all{
    max-width: 1800px;
    margin: 0 auto;
}
.donation_layout{
    max-width: fit-content;
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

@media only screen and(max-width: 1200px){
    .donation_layout{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin: 0 auto;
        justify-content: center;
    }
}

@media only screen and(max-width: 398px){
    .donatio_pic{
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
    }
}

.donatio_pic img{
    padding-right: 1rem;
    max-width: 380px;
}
@media only screen and(max-width: 414px){
    .donatio_pic img{
        width: 40%;
    }
}

@media only screen and(max-width: 320px){
    .donatio_pic img{
        width: 40%;
    }
}
.donation_text{
    padding: 2rem;
    max-width: 500px;
}
.donation_title{
    color: #545454;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.donation_subTitle{
    color: #545454;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.donation_code{
    width: fit-content;
    height: 3rem;
    color: #545454;
    background-color: #F1CDB3;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.donation_info{
    font-style: italic;
    font-size: 0.8rem;
    columns: #B2B2B2;
    line-height: 1.5rem;
}