.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #F1CDB3;
    color: #000;
    padding: 0.5rem 2rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    visibility: hidden;
    margin-left: 1.5rem;
  }
  
  .dropdown-toggle:hover {
    background-color: #F1CDB3;
    color: #000;
  }
  
  .dropdown-menu ul{
    position: absolute;
    top: 100%;
    left: 0;
    border: none;
    border-top: none;
    width: 120px;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    font-weight: 600;
    font-size: 14px;
  }
  
  .dropdown-menu ul li {
    padding: 8px 16px;
    cursor: pointer;
    color: #F1CDB3;
    font-size: 1rem;
  }
  
  .dropdown-menu ul li:hover {
    background-color: #4d4d4d;
    color: #fff;
  }
  
  @media only screen and (max-width: 749px) {
    .dropdown-toggle {
      visibility: visible;
    }
  }